*nbproject
*~
.*

*.class

!/.gitignore

/bericht/temp/

/jabc-projekte/*.xml.*

/google-contacts-connector/DLI-GoogleContactsConnector/src/sample

/sibs/target/

/google-contacts-connector/DLI-GoogleContactsConnector/build/