*nbproject
*~
.*

*.class
!/.gitignore

/bericht/temp/
/bericht/ausarbeitung.pdf

/jabc-projekte/*.xml.*

/google-contacts-connector/DLI-GoogleContactsConnector/src/sample

/sibs/target/
/sibs/nb-configuration.xml

/google-contacts-connector/DLI-GoogleContactsConnector/build/

/sap-connector/SAP-Konnektor/bin/

/praesi/out/
/praesi/tmp/
